.image-course-jalaneti-wave3 {
    position:absolute;
    z-index: -1; 
    width: 6%;
    right: 0;
    top: 32rem;
}

.image-jalaneti-takeaway {
    width: 60%;
}

@media screen and (max-width: 1024px) {

    .image-course-jalaneti-wave3 {
        width: 20%;
    }

    .image-jalaneti-takeaway {
        width: 100%;
    }
}