.image-course-dwijass21-wave1 {
    position:absolute;
    z-index: -1; 
    width: 60%;
}

.image-course-dwijass21-statues {
    position:absolute;
    z-index: -1; 
    right: 0;
    top:0;
    width: 40%;
}

.container-dwijass21-landing-text {
    padding: 4rem;
    max-width: 56rem;
}

.container-dwijass21-quote {
    position: absolute;
    right: 0;
    text-align: right;
    padding: 4rem;
    max-width: 56rem;
}

@media screen and (max-width: 1024px) {

    .image-course-dwijass21-wave1 {
        width: 98%;
    }

    .image-course-dwijass21-statues {
        width: 0;
    }

    .container-dwijass21-landing-text {
        padding: 2rem;
        max-width: 100%;
    }
}