.image-course-about-bhuta-shuddhi {
    width: 48rem;
}

.image-course-bhuta-shuddhi-wave2 {
    position:absolute;
    top: 40rem;
    z-index: -1; 
    width: 8%;
}

.image-course-bhuta-shuddhi-leaf {
    position:absolute;
    z-index: -1; 
    width: 16%;
    left: 16rem;
    top: 8rem;
}

@media screen and (max-width: 1024px) {

    .image-course-about-bhuta-shuddhi {
        width: 100%;
    }

    .image-course-bhuta-shuddhi-wave2 {
        top: 0;
        width: 10%;
    }

    .image-course-bhuta-shuddhi-leaf {
        width: 0%;
    }
}
