.image-dwijass12-takeaway {
    width: 60%;
}

.image-course-dwijass12-wave2 {
    position:absolute;
    z-index: -1; 
    width: 10%;
    right: 0;
}

.image-course-dwijass12-cow {
    position:absolute;
    z-index: -2; 
    width: 50%;
    top: 6rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media screen and (max-width: 1024px) {

    .image-dwijass12-takeaway {
        width: 100%;
    }

    .image-course-dwijass12-wave2 {
        width: 20%;
    }

    .image-course-dwijass12-cow {
        width: 0;
    }
}