.image-course-dwijass21-person {
    position:absolute;
    z-index: -2; 
    width: 32%;
    bottom : -12rem;
    right: 8rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.image-course-dwijass21-wave5 {
    position:absolute;
    top: 28rem;
    z-index: -1; 
    width: 10%;
    right: 0;
}

@media screen and (max-width: 1024px) {

    .image-course-dwijass21-person {
        width: 0;
    }

    .image-course-dwijass21-wave5 {
        width: 16%;
    }
}