.image-course-bhuta-shuddhi-pots {
    position:absolute;
    z-index: -1; 
    width: 24%;
    left: 8rem;
    top: 6rem;
}

@media screen and (max-width: 1024px) {

    .image-course-bhuta-shuddhi-pots {
        width: 0%;
    }
}