.image-course-yogic-food-wave3 {
    top: 8rem;
    left: 0;
    position:absolute;
    z-index: -1; 
    width: 8%;
}

@media screen and (max-width: 1024px) {

    .image-course-yogic-food-wave3 {
        width: 10%;
    }
}